
{% extends "base.html" %}  
{% block content %}

    <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
       <h2>湖南珠宝千店免费培训项目说明 </h2>
<hr>
<h3>壹、缘起：</h3>
<p>湖南崇德堂实业股份（股权代码：300239）为了提高珠宝行业的整体职业素质水平，提高本公司影响力，实现共生共赢，旗下崇德书院斥资百万，联合北京十二年等顶级培训机构，免费为湖南具备一定规模的1000家零售珠宝店提供一年12期的免费高端培训。</p>
<h3>贰、参与细则：</h3>
<ol>
<li>参加免费培训的单位需具备一定规模实力，如实填写申请资料，珠宝店老板、高管均可参加免费培训。每期免费培训时间为两天一晚，食宿自理。</li>
<li>参加免费培训的单位，需缴纳伍万元考勤保证金，每期保证至少派壹人参加培训。期满后伍万元全额退还。每缺课一期扣除考勤保证金中的肆仟元作为违约金。</li>
<li>老板当期未参加培训的，需由高管填写《培训课程意见反馈表》由老板签字后转发崇德书院邮箱809038116@qq.com。</li>
<li>为了继续加强书院与各珠宝店的合作，凡是在本书院参加完免费培训的客户如成为崇德堂珠宝VIP客户或合作伙伴，条件符合者可申办由湖南崇德堂实业股份公司（股权代码：300239）提供担保的或其他类型的银行贷款20-1000万。</li>
<li>成为崇德堂珠宝加盟商的优质客户，上述银行贷款可申请由上市公司湖南崇德堂实业股份有限公司代为偿还，申请通过后，其债权转为股权，其崇德堂加盟店转为上市公司旗下子公司，崇德堂实业为其控股股东。</li>
</ol>
<h2>北京十二年介绍  </h2>
<hr>
<p>北京十二年是一支为专业奢侈品品牌及高端珠宝品牌制定专业服务与销售标准的机构，十二年致力于运用创新和更富生命力的"潜意识行为教学法"并根据合作企业的需求量身定做培训课程，以大量的案例和实战演练为基础，将理论与实践相结合深入挖掘课程本质，并从教室搬到零售店铺内，亲自带领员工做销售技巧与服务流程的示范，培训后更有全程跟进执行和不定期专业神秘人体验，真正帮助学员落实培训的内容并在工作中加以运用，使珠宝业前线人员及企业管理层可以最大限度的挖掘自身的工作能力和潜在的服务质量，达到显著的工作成果的深层需要。
仅仅七年的时间里，十二年的培训已遍及全国各地，如Vancleef&amp;Arpels,Cartier,ENZO ,LALIQUE,R-NU,HERMES ,Derain,Forevermark等国际知名品牌，戴俪尔，钻之韵，周大福，周生生，百泰，粤豪，老凤祥等。</p>
      </div>

    </div> <!-- /container -->

{% endblock %}